# <IfModule mod_rewrite.c>
	# RewriteEngine on
	# RewriteCond %{HTTP_HOST} ^zackbernbaum.com$ [NC,OR]
	# RewriteCond %{HTTP_HOST} ^www.zackbernbaum.com$
	# RewriteCond %{REQUEST_URI} !craft/web/
	# RewriteRule (.*) /craft/web/$1 [L]
# </IfModule>