.video-read__details {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 6rem;
	position: relative;

	p {
		line-height: 1.5;
		font-weight: 300;
	}

	.award {
		margin-bottom: 2.5rem;
		padding-right: 3rem;
		@include column(4);

		a {
			white-space: inherit; 
			color: #fff;

			&::before {
				content: '';
				display: block;
				width: 4px;
				height: 4px;
				background: none;
				border: solid 2px $red;
				position: absolute;
				top: 4px;
				left: 0;
				border-radius: 50%;
			}

			&::after {
				display: none;
			}

			&:hover, &:focus {
				color: $yellow;
			}
		}

		@include desktop-below {
			@include column(6);
		}

		@include tablet-below {
			@include column(4);
		}

		@include tablet-small-below {
			@include column(6);
		}

		@include phone-large-below {
			@include column(12);
			padding-right: 0;
		}
	}

	.title {
		font-size: 1.7rem;
		font-weight: 700;
		line-height: 1.2;
		margin-bottom: 5px;
		position: relative;
		padding-left: 12px;

		&::before {
			content: '';
			display: block;
			width: 4px;
			height: 4px;
			// background: $red;
			border: solid 2px $red;
			position: absolute;
			top: 4px;
			left: 0;
			border-radius: 50%;
		}

		@include phone-large-below {
			font-size: 2.2rem;
		}
	}

	.detail {
		font-size: 1.7rem;
		line-height: 1.2;
		font-weight: 300;
		color: #fff;
		padding-left: 12px;

		@include phone-large-below {
			font-size: 2.2rem;
		}
	}

	li {
		font-size: 1.7rem;
		line-height: 1.2;
		color: #fff;
		padding: 0 3rem 2rem 12px;
		font-weight: 300;
		position: relative;
		break-inside: avoid;

		&::before {
			content: '';
			display: block;
			width: 4px;
			height: 4px;
			// background: $red;
			border: solid 2px $red;
			position: absolute;
			top: 4px;
			left: 0;
			border-radius: 50%;
		}

		@include phone-large-below {
			font-size: 2.2rem;
		}

		@include phone-large-below {
			padding-right: 0;
		}
	}

	@include tablet-large-below {
		padding: 0 3rem;
	}
}

.video-read__intro {
	@include column(6);
	align-self: center;

	@include tablet-large-below {
		@include column(7.5);
		padding-right: 3rem;
	}

	@include tablet-below {
		@include column(12);
	}

	@include phone-large-below {
		@include column(12);
		padding-right: 0;
	}
}

.video-read__large-title {
	@extend .title-large;
	font-weight: 300;
	@include column(8);
	display: block;
	text-transform: uppercase;

	strong {
		font-weight: 700;
		display: block;
	}

	@include desktop-below {
		@include column(10);
	}

	@include tablet-large-below {
		@include column(10);
		font-size: 5.5rem;
	}

	@include phone-large-below {
		@include column(12);
	}
}

.video-read__synopsis {
	padding-left: 8.333%;
	// width: calc(100% - 8.333%);
	width: 100%;
	margin-top: 5rem;

	@include tablet-large-below {
		@include column(12);
		padding-left: 0;
	}
}

.video-read__title {
	@extend .title-small;
	text-transform: uppercase;
	padding-bottom: 2rem;
	font-weight: 700;
	width: 100%;
	white-space: nowrap;

	span {
		color: $red;
		font-weight: 300;
	}
}

.video-read__poster {
	@include column(5);
	img {
		width: 100%;
	}

	@include tablet-large-below {
		@include column(4.5);
	}

	@include tablet-below {
		@include column(12);
		padding-top: 6rem;
		// max-width: 400px;
	}
}

.video-read__awards, .video-read__press {
	@include column(12);
	padding-right: 25%;
	padding-top: 6rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-bottom: -2.5rem;

	@include desktop-below {
		padding-right: 33.333%;
	}

	@include tablet-below {
		padding-right: 0;
	}
}

.video-read__festivals {
	@include column(12);
	padding-left: 25%;
	padding-top: 6rem;

	@include desktop-below {
		padding-left: 33.333%;
	}

	@include tablet-below {
		padding-left: 0;
	}
}

.festivals {
	column-count: 3;

	@include desktop-below {
		column-count: 2;
	}

	@include tablet-below {
		column-count: 3;
	}

	@include tablet-small-below {
		column-count: 2;
	}

	@include phone-large-below {
		column-count: 1;
	}
}

.press {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: flex-start;

	li {
		@include column(4);
		padding-right: 3rem;

		@include desktop-below {
			@include column(6);
		}

		@include tablet-below {
			@include column(4);
		}

		@include tablet-small-below {
			@include column(6);
		}

		@include phone-large-below {
			@include column(12);
		}
	}
}

.video-read__additional-info {
	@include column(12);
	padding-right: 25%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding-top: 6rem;

	@include desktop-below {
		padding-right: 33.333%;
	}

	@include tablet-below {
		padding-right: 0;
	}
}

.video-read__block {
	@include column(4);
	padding-right: 3rem;
	padding-bottom: 6rem;

	a {
		white-space: inherit; 
		color: #fff;

		&::before, &::after {
			display: none;
		}

		&:hover, &:focus {
			color: $yellow;
		}
	}

	@include desktop-below {
		@include column(6);
	}

	@include tablet-below {
		@include column(4);
	}

	@include tablet-small-below {
		@include column(6);
	}

	@include phone-large-below {
		@include column(12);
		padding-right: 0;
	}
}










