.featured-content {
	padding: 6rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-start;

	@include tablet-large-below {
		padding: 6rem 3rem;
	}
}

.featured-content__copy {
	@include column(3);

	@include desktop-below {
		@include column(4);
	}

	@include tablet-below {
		@include column(5);
	}

	@include tablet-small-below {
		@include column(12);
	}
}

h3 {
	@extend .title-medium;

	strong {
		font-weight: 700;
		display: block;
	}
}

.featured-content__stats {
	padding-top: 3rem;
	color: #fff;
	font-weight: 200;
}

.featured-content__stat {

	>span:first-child {
		width: 150px;
		display: inline-block;
		padding-bottom: 1rem;
	}

	>span:nth-child(2) {
		font-weight: 700;
	}
	
	span span {
		color: $red;
		font-weight: 700;
	}
}

.featured-content__imgs {
	@include column(8);
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;

	@include tablet-below {
		@include column(7);
	}

	@include tablet-small-below {
		@include column(12);
		padding-top: 4rem;
	}
}

a.featured-content__img {

	img {
		transition: 0.35s ease all;
	}

	&:hover {
		img {
			box-shadow: 10px 10px 30px rgba(#3d2a3d,.5);
			transform: translateY(-1rem);
		}
	}
	&::before, &::after {
		display: none;
	}
}

.featured-content__img {
	@include column(4);
	padding: 0 4rem 4rem;

	img {
		width: 100%;
	}

	@include desktop-below {
		padding: 0 2rem 2rem;
	}

	@include tablet-small-below {
		padding: 0 2rem 2rem 0;
	}

	@media (max-width: 425px) {
		@include column(6);
	}

	@media (max-width: 290px) {
		@include column(12);
		padding-right: 0;
	}
}