.featured-video {
	@include column(12);
	padding: 0 6rem 6rem;
	margin: 0 auto;
	display: flex;
	// align-items: center;
	position: relative;
	white-space: inherit;

	&::before, &::after {
		display: none;
	}

	&:hover {
		.video-thumb {
			&::before, &::after {
				opacity: 1;
			}
		}

		.video-thumb {
			transform: translateY(-1rem);
		}

		.featured-video__content {
			transform: translateY(-2rem);
		}

		.video-title, .video-client, .video-summary {
			transform: translateY(-0.5rem);
		}
	}

	@include desktop-below {
		align-items: center;
	}

	@include tablet-large-below {
		padding: 0 3rem 6rem;

		&:hover {
			.featured-video__content {
				transform: translateY(-1rem);
			}
		}
	}

	@include tablet-small-below {
		flex-wrap: wrap;
	}
}

.featured-video__video {
	@include column(7.5);

	iframe {
		// border: solid 10px;
		box-shadow: 10px 10px 30px rgba($darkblue, 0.33);
		margin: 0;
	}

	.simple & {
		@include column(10);
		margin: 0 auto;

		@include tablet-large-below {
			display: block;
			@include column(12);
		}
	}

	@include desktop-below {
		@include column(6.5);
	}

	@include tablet-large-below {
		display: flex;
		align-items: center;
	}

	@include tablet-small-below {
		@include column(10);
		display: block;
	}

	@include phone-large-below {
		@include column(12);
	}
}

.featured-video__content {
	@include column(4.5);
	background: $blue;
	padding: 3rem;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	margin: 5rem 0;
	box-shadow: 10px 10px 30px rgba($darkblue, 0.33);
	transition: all .5s ease;
	transition-delay: 0.1s;
	// min-height: 300px;

	.video-title {
		transition-delay: 0.2s;
	}

	.video-client {
		transition-delay: 0.3s;
	}

	.video-summary {
		transition-delay: 0.3s;
	}

	@include desktop-below {
		@include column(5.5);
	}

	@include tablet-large-below {
		margin: 0;
	}

	@include tablet-small-below {
		@include column(10);
		margin: -4rem 0 0 16.666%;
		position: relative;
	}

	@include phone-large-below {
		// @include column(12);
		margin: -4rem 0 0 8.333%;
	}

	@include phone {
		padding: 2rem;
	}
}

.video-title {
	@extend .title-medium;
	color: $yellow;
	width: 100%;
	text-transform: uppercase;
	transition: all .5s ease;

	a {
		white-space: inherit;

		&::before, &::after {
			display: none;
		}
	}
}

.video-client {
	@extend .title-small;
	color: $yellow;
	width: 100%;
	text-transform: uppercase;
	transition: all .5s ease;
}

.video-summary {
	padding-top: 2rem;
	transition: all .5s ease;
}