.featured-video {
	@include column(12);
	padding: 0 6rem 6rem;
	margin: 0 auto;
	display: flex;
	align-content: center;
	position: relative;
	// flex-wrap: wrap;
}

.featured-video__video {
	@include column(7.5);

	iframe {
		// border: solid 10px;
		box-shadow: 10px 10px 30px rgba($darkblue, 0.33);
		margin: 0;
	}

	.simple & {
		@include column(10);
		margin: 0 auto;
	}
}

.featured-video__content {
	@include column(4.5);
	background: $blue;
	padding: 3rem;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	margin: 5rem 0;
	box-shadow: 10px 10px 30px rgba($darkblue, 0.33);
}

.video-title {
	@extend .title-medium;
	color: $yellow;
	width: 100%;
	text-transform: uppercase;

	a {
		white-space: inherit;

		&::before, &::after {
			display: none;
		}
	}
}

.video-client {
	@extend .title-small;
	color: $yellow;
	width: 100%;
	text-transform: uppercase;
}

.video-summary {
	padding-top: 2rem;
}