.svg-pattern-container {
	position: absolute;
	display: block;
	opacity: 0.9;
	
	&.home-header {
		@include column(6);
		height: 26rem;
		top: 16rem;
		left: 0;

		.svg-pattern__shape {
			// fill: #ed453e;
		}
	}

	&.collection-header {
		@include column(6);
		height: 35rem;
		bottom: -6rem;
		left: 0;

		.svg-pattern__shape {
			// fill: #ed453e;
		}
	}

	&.video-read-one {
		@include column(3.6);
		z-index: -1;
		top: 5rem;
		left: -5rem;
		height: 30rem;
	}

	&.video-read-two {
		@include column(5);
		z-index: -1;
		bottom: 3rem;
		right: -5rem;
		height: 20rem;
		opacity: 0.5;
	}
}