.video-feed__popover {
	display: none;
	width: 100%;
	max-width: 800px;
	padding: 0;
	margin: 3rem;
	background: none;

	@include phone-large-below {
		margin: 3rem 0 7rem;
		// padding: 0 5rem;
	}
}

.popover__nav {
	padding-bottom: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.popover__nav-btn {
	color: #fff;
	font-weight: 300;
	font-size: 1.7rem;
	display: inline-block;
	background: transparent;
	border: none;
	transition: 0.35s ease all;

	span {
		color: $yellow;
		font-size: 1.5rem;
		transition: 0.35s ease all;
		display: block;
	}

	&::before, &::after {
		display: none;
	}

	&.prev {
		text-align: right;
		padding-right: 2rem;
		padding-left: 0;
		margin-right: 1.5rem;
		border-right: solid 1px $red;
	}

	&.next {
		text-align: left;
		padding: 0;
	}

	&:hover {
		color: $yellow;
	}

	&:focus {
		outline: none;
	}
}

.popover__close {
	background: rgba($red, 0.4);
	position: relative;
	border: none;
	padding: 1rem 1.75rem;
	color: #fff;
	font-family: $title-font;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.8rem;
	transition: 0.35s ease all;
	// line-height: 0;

	>span {
		width: 1rem;
		height: 1rem;
		display: block;
		position: absolute;
		transition: 0.35s ease all;

		&:first-child {
			top: 0;
			left: 0;
			border-top: solid 2px $red;
			border-left: solid 2px $red;
		}
		&:nth-child(2) {
			top: 0;
			right: 0;
			border-top: solid 2px $red;
			border-right: solid 2px $red;
		}
		&:nth-child(3) {
			bottom: 0;
			right: 0;
			border-bottom: solid 2px $red;
			border-right: solid 2px $red;
		}
		&:last-child {
			bottom: 0;
			left: 0;
			border-bottom: solid 2px $red;
			border-left: solid 2px $red;
		}
	}

	&:hover {
		background: rgba($red, 0.6);
		span {
			height: 50%;
			width: 50%;
		}
	}

	&:focus {
		outline: none;
		background: rgba($red, 0.7);
	}
}

.popover__content {
	padding: 2rem;
	background: #142346;
	color: #fff;
}

.popover__title {
	@extend .title-medium;
	display: block;
	color: $yellow;
}

.popover__client {
	@extend .title-small;
	display: block;
	color: $yellow;
}

.popover__desc, .popover__extra-info {
	padding-top: 2rem;
	display: block;
}

.extra-info__title {
	font-weight: 700;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 2rem;
	// flex-wrap: wrap;

	>span {
		padding-left: 1rem;
		margin-left: 1rem;
		position: relative;
		font-weight: 300;

		&::after {
			content: '';
			display: block;
			height: 100%;
			width: 1px;
			background: rgba(#fff, 0.5);
			position: absolute;
			top: 0;
			left: 0;
		}

		&:first-child {
			padding-left: 0;
			&::after {
				display: none;
			}
		}
	}

	a {
		margin-left: 1rem;
		font-weight: 500;
	}
}









.fancybox-bg {
	background: rgba(#05091b, 0.95);
}

.fancybox-slide--html .fancybox-close-small {
	background: yellow;
}

.fancybox-navigation .fancybox-button {
	>div {
		background: #05091b;
		transition: 0.35s ease all;

		&:hover, &:focus {
			background: darken($blue, 33%);
		}
	}
}

.fancybox-button svg path {
	fill: $yellow;
}

.fancybox-close-small {
	display: none;
}

.fancybox-navigation .fancybox-button {
	@include phone-large-below {
		top: 100%;
		transform: translateY(-100%);
	}
}





