<footer class="footer">
	
	{% if footerContent.footerCta|length %}
		<span class="footer__title">{{ footerContent.footerCta }}</span>
	{% endif %}
	<div class="footer__links">


		{% if footerContent.contactLinks|length %}
			<div class="footer__links-contact">
				{% for link in footerContent.contactLinks %}
					<a href="{{ link.linkUrl.getUrl() }}">{{ link.linkTitle }}</a>
				{% endfor %}
			</div>
		{% endif %}


		<div class="footer__links-social">
			{% if footerContent.vimeoUrl|length %} <a href="{{ footerContent.vimeoUrl }}" taget="_blank"><i class="icon-vimeo"></i></a> {% endif %}
			{% if footerContent.twitterUrl|length %} <a href="{{ footerContent.twitterUrl }}" taget="_blank"><i class="icon-twitter"></i></a> {% endif %}
			{% if footerContent.instagramUrl|length %} <a href="{{ footerContent.instagramUrl }}" taget="_blank"><i class="icon-instgram"></i></a> {% endif %}
			{% if footerContent.facebookUrl|length %} <a href="{{ footerContent.facebookUrl }}" taget="_blank"><i class="icon-facebook"></i></a> {% endif %}
			{% if footerContent.linkedinUrl|length %} <a href="{{ footerContent.linkedinUrl }}" taget="_blank"><i class="icon-linkedin"></i></a> {% endif %}
		</div>
	</div>
</footer>