<footer class="footer">
	<span class="footer__title">Any Projects, Collaborations, or just want to chat? <a href="">Email Me.</a></span>
	<div class="footer__links">
		<div class="footer__links-contact">
			<a href="">416 000 0000</a>
			<a href="mailto:zack@ezeqialproductions.com">zack@ezeqialproductions.com</a>
		</div>
		<div class="footer__links-social">
			<a href="" taget="_blank"><i class="icon-vimeo"></i></a>
			<a href="" taget="_blank"><i class="icon-twitter"></i></a>
			<a href="" taget="_blank"><i class="icon-instgram"></i></a>
			<a href="" taget="_blank"><i class="icon-facebook"></i></a>
			<a href="" taget="_blank"><i class="icon-linkedin"></i></a>
		</div>
	</div>
</footer>