.footer {
	padding: 11rem 6rem 6rem;

	@include tablet-large-below {
		padding: 11rem 3rem 6rem;
	}
}

.footer__title {
	@include column(6);
	display: block;
	position: relative;

	&::before {
		content: '';
		display: block;
		width: 75%;
		height: 2rem;
		background: $red;
	}

	p, a {
		@extend .title-medium;
	}
	p {
		font-weight: 100;
		line-height: 1.1;
		padding-top: 3rem;
	}
	a {
		text-transform: uppercase;
		color: $yellow;
		font-weight: 300;
	}

	@include desktop-below {
		@include column(8);
	}

	@include tablet-small-below {
		@include column(10);
	}

	@include phone-large-below {
		@include column(12);

		&::before {
			max-width: 250px;
		}
	}
}

.footer__links {
	margin-top: 10rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer__links-contact {
	a {
		margin-bottom: 2rem;
	}

	@include phone-large-below {
		@include column(12);

		a {
			font-size: 2rem;
		}
	}
}

.footer__links-social {
	a {
		font-size: 2.5rem;
		margin-right: 3rem;

		&:last-child {
			margin-right: 0;
		}

		&::before, &::after {
			display: none;
		}
	}
}