.nav {
	padding: 2rem 6rem;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	transition: 0.35s ease all;

	&.scrolled {
		background: rgba($blue, 0.85);
	}

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
}

.site-links {
	a {
		margin-left: 9rem;
		color: #fff;
		font-family: $title-font;
		text-transform: uppercase;
		font-size: 2rem;

		&::before, &::after {
			height: 3px;
		}

		&::before {
			width: 0;
		}

		&.active::before {
			width: 100%;
		}

		&:hover, &:focus {
			color: $yellow;
		}
	}
}