.nav {
	padding: 2rem 6rem;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	transition: 0.35s ease all;

	&.scrolled {
		background: rgba($blue, 0.85);
		/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#223b74+0,223b74+100&0.95+0,0+100 */
		// background: linear-gradient(to bottom, rgba(34,59,116,0.95) 15%,rgba(34,59,116,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	@include tablet-large-below {
		padding: 2rem 3rem;
	}

	@include tablet-small-below {
		display: none;
	}
}

.site-links {
	a {
		margin-left: 9rem;
		color: #fff;
		font-family: $title-font;
		text-transform: uppercase;
		font-size: 2rem;

		&:first-child {
			margin-left: 0;
		}

		&::before, &::after {
			height: 2px;
		}

		&::before {
			width: 0;
		}

		&.active::before {
			width: 100%;
		}

		&:hover, &:focus {
			color: $yellow;
		}

		@include desktop-below {
			margin-left: 7rem;
		}

		@include tablet-large-below {
			margin-left: 5rem;
		}
	}
}


.mobile-nav {
	padding: 2rem 6rem;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	transition: 0.35s ease all;
	display: none;

	@include tablet-small-below {
		display: block;
	}

	&.scrolled {
		background: rgba($blue, 0.85);
	}

	&.open {
		background: rgba($blue, 0.95);

		&.scrolled {
			background: rgba($blue, 0.95);
		}
	}

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	.mobile-nav__btn {
		border-radius: 0;
		border: none;
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		padding: 0;
		margin: 0;
		background: none;
		z-index: 999;

		>span {
			content: '';
			display: block;
			width: 100%;
			height: 3px;
			background: $yellow;
			position: absolute;
			left: 0;
			overflow: hidden;
			transition: 0.5s ease all;

			&:first-child {
				top: 0;

				&::after {
					transition-delay: 0.1s;
				}
			}

			&:nth-child(2) {
				top: 50%;
				transition-delay: 0.1s;

				&::before {
					transition-delay: 0.1s;
				}

				&::after {
					transition-delay: 0.2s;
				}
			}

			&:last-child {
				top: 100%;
				transition-delay: 0.2s;

				&::before {
					transition-delay: 0.2s;
				}

				&::after {
					transition-delay: 0.3s;
				}
			}

			&::before, &::after {
				content: '';
				display: block;
				width: 300%;
				height: 100%;
				position: absolute;
				top: 0;
				left: -300%;
				transition: 0.5s ease all;
			}

			&::before {
				background: $blue;
			}

			&::after {
				background: $red;
			}
		}

		&:hover, &:focus {
			outline: none; 

			span {
				&::before, &::after {
					left: 100%;
					width: 50%;
				}
			}
		}
	}
}

.mobile-links {
	background: rgba($blue, 0.95);
	position: absolute;
	width: 100%;
	z-index: 998;
	left: 0;
	top: 0;
	padding: 130px 0 3rem;
	display: none;
	box-shadow: 0 65px 60px 0 rgba($blue, 0.95);

	// &.open {
	// 	display: block;
	// }

	.wrapper {
		display: block;
	}

	a {
		display: block;
		font-size: 3rem;
		padding-bottom: 2rem;
		text-align: center;

		&::before, &::after {
			display: none;
		}
	}
}











