.page-header {
	background: $red;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-start;
	padding: 12rem 6rem 15rem;
	margin-bottom: -10rem;
	position: relative;

	&.has-featured-video {
		padding-bottom: 20rem;
		margin-bottom: -15rem;
	}

	h1, h2, p {
		position: relative;
		display: block;
		z-index: 1;
	}

	h1 {
		width: 100%;
		@extend .title-xlarge;
	}
	h2 {
		width: 100%;
		@extend .title-small;
		font-family: $body-font;
		font-weight: 300;
	}

	p {
		max-width: 75%;
	}

	&.align-bottom {
		align-content: flex-end;
	}

	.home & {

		padding-top: 2rem;

		p {
			max-width: none;
		}

		>div {
			@include column(10);
			margin: 0 auto;
		}

		>div:first-child {
			overflow: hidden;
			// transition: 0.35s ease all;
			// transition-delay: 0.35s;
		}
	}

	@include tablet-large-below {
		padding: 12rem 3rem 15rem;

		p {
			max-width: none;
		}
	}
}

.page-header__content {
	.spilt & {
		@include column(8);
	}
}

.page-header__nav {
	display: flex;
	align-content: flex-end;
	flex-wrap: wrap;
	@include column(3.5);
}

.page-header__nav-link {
	margin-bottom: 1.5rem;
	width: 100%;
	font-weight: 300;

	&:last-child {
		margin-bottom: 0;
	}

	&::before, &::after {
		display: none;
	}

	.pretitle {
		// font-size: 2rem;
		display: block;
	}

	.title {
		font-size: 2.25rem;
		color: #fff;
	}
}

.page-header-copy {
	position: relative;
	display: block;
	z-index: 1;

	.home & {
		display: flex;
		width: 100%;
		justify-content: flex-end;
		padding-top: 2rem;

		>div {
			@include column(5);
		}
	}
}

// .js--page-header {
// 	&.scrolled {
// 		>div:first-child {
// 			background: lightblue;
// 		}
// 		.site-title, .site-subtitle {
// 			transform: translateX(-100%);
// 		}
// 	}
// }












