.page-header {
	background: $red;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-start;
	padding: 12rem 6rem 15rem;
	margin-bottom: -10rem;
	position: relative;

	&.has-featured-video {
		padding-bottom: 20rem;
		margin-bottom: -15rem;
	}

	h1, h2, p {
		position: relative;
		display: block;
		z-index: 1;
	}

	h1 {
		width: 100%;
		@extend .title-xlarge;
	}
	h2 {
		width: 100%;
		@extend .title-small;
		font-family: $body-font;
		font-weight: 300;
	}

	p {
		max-width: 75%;
	}

	&.align-bottom {
		align-content: flex-end;
	}

	.home & {

		padding-top: 0rem;
		padding: 1.5rem 9rem 15rem;

		p {
			max-width: none;
			margin-bottom: 1rem;
		}

		>div {
			@include column(10);
			margin: 0 auto;

			@include desktop-below {
				@include column(12);
			}
		}

		>div:first-child {
			overflow: hidden;
		}

		@include phone-large-below {
			padding-top: 7rem;
		}

		&.has-featured-video {
			margin-bottom: -11rem;
			// margin-bottom: -15rem;

			@include desktop-small-below {
				margin-bottom: -11rem;
			}

			@include desktop-below {
				// margin-bottom: -11rem;
			}
		}

		@include tablet-large-below {
			padding: 7rem 3rem 15rem;

			p {
				max-width: none;
			}
		}
	}

	@include tablet-large-below {
		padding: 12rem 3rem 15rem;

		p {
			max-width: none;
		}
	}
}

.page-header__content {
	.spilt & {
		@include column(8);

		@include tablet-large-below {
			@include column(12);
		}
	}
}

.page-header__nav {
	display: flex;
	align-content: flex-end;
	flex-wrap: wrap;
	@include column(3.5);

	@include tablet-large-below {
		flex-wrap: nowrap;
		justify-content: space-between;
		position: relative;
		z-index: 1;
		padding-top: 2rem;
		@include column(12);
	}

	@include phone-large-below {
		flex-wrap: wrap;
	}
}

.page-header__nav-link {
	margin-bottom: 1.5rem;
	width: 100%;
	font-weight: 300;
	white-space: inherit;

	&:last-child {
		margin-bottom: 0;
	}

	&::before, &::after {
		display: none;
	}

	.pretitle {
		// font-size: 2rem;
		display: block;
	}

	.title {
		font-size: 2.25rem;
		color: #fff;
	}

	@include tablet-large-below {
		// @include column(6);
		width: auto;

		&.next {
			text-align: right;
			padding-left: 2rem;
		}

		&.prev {
			padding-right: 2rem;
		}

		.pretitle {
			padding-bottom: 3px;
		}
	}

	@include phone-large-below {
		width: 100%;

		&.next {
			text-align: left;
			padding-left: 0;
		}

		&.prev {
			padding-right: 0;
		}
	}
}

.page-header-copy {
	position: relative;
	display: block;
	z-index: 1;

	.home & {
		display: flex;
		width: 100%;
		justify-content: flex-end;
		padding-top: 2rem;

		>div {
			@include column(7.8);

			@include desktop-small-below {
				@include column(7.55);
			}

			@include tablet-large-below {
				@include column(7.4);
			}

			@include tablet-below {
				@include column(12);
			}

			@include phone-large-below {
				@include column(12);
			}
		}
	}
}

// .js--page-header {
// 	&.scrolled {
// 		>div:first-child {
// 			background: lightblue;
// 		}
// 		.site-title, .site-subtitle {
// 			transform: translateX(-100%);
// 		}
// 	}
// }












