.site-title, .page-header h1.site-title {
	font-weight: 200;
	text-transform: uppercase;
	transition: 0.35s ease all;

	strong {
		font-weight: 700;
		display: block;
		transition-delay: 0.15s;
	}
}

.site-subtitle, .page-header h2.site-subtitle {
	font-weight: 200;
	text-transform: uppercase;
	color: $yellow;
	font-family: $title-font;
	font-size: 8rem;
	transition: 0.35s ease all;
	transition-delay: 0.35s;
}