{% extends "layouts/_layout" %}
{% block content %}



    <section class="page-header">
        <p>I’m an award winning, story driven director.</p>
        <p>I focus on capturing authentic performances, rich aesthetics,and unique tones.</p>
        <p>Nice to meet you.</p>
    </section>



    <div class="featured-video">
        <iframe src="https://player.vimeo.com/video/152912229" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>



    <section class="feautred-content">
        <div class="feautred-content__copy">
            <h3>Featured <strong>Clients</strong></h3>
            <div class="feautred-content__stats">
                <div class="feautred-content__stat">
                    <span>Total Clients</span>
                    <span><span>[ </span>00<span> ]</span></span>
                </div>
            </div>
        </div>
        <div class="feautred-content__imgs">
            <div class="feautred-content__img"><img src=""></div>
        </div>
    </section>



{% endblock %}