{% extends "layouts/_layout" %}
{% block content %}


    <section class="page-header">
        <div>
            <h1 class="site-title">Zack <strong>Bernbaum</strong></h1>
            <h2 class="site-subtitle">Storyteller. Director.</h2>
        </div>

        {% if entry.pageHeaderCopy|length %}
            <div class="page-header-copy">
                <div>
                    {{ entry.pageHeaderCopy }}
                </div>
            </div>
        {% endif %}
    </section>


    {% include 'partials/featured-video-simple' %}


    {% if entry.featuredContent|length %}
        {% for content in entry.featuredContent %}
            {% include 'partials/featured-content-row' with {'content' : content} %}
        {% endfor %}
    {% endif %}


{% endblock %}