{% extends "layouts/_layout" %}
{% block content %}


    <section class="page-header">
        <h1 class="site-title">Zack <strong>Bernbaum</strong></h1>
        <h2 class="site-subtitle">Storyteller. Director.</h2>

        {% if entry.pageHeaderCopy|length %}
            <div class="page-header-copy">{{ entry.pageHeaderCopy }}</div>
        {% endif %}
    </section>


    {% if entry.video|length %}
        {% for video in entry.video %}
            <div class="featured-video">
                <div class="video-container">
                    <iframe src="https://player.vimeo.com/video/{{ video.vimeoId }}" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe> 
                </div>
            </div>
        {% endfor %}
    {% endif %}


    {% if entry.featuredContent|length %}
        {% for content in entry.featuredContent %}
            <section class="feautred-content">
                <div class="feautred-content__copy">
                    {% if content.featuredTitle|length %}
                        <h3>Featured <strong>Clients</strong></h3>
                    {% endif %}
                    {% if content.featuredStats|length %}
                        <div class="feautred-content__stats">
                            {% for stat in content.featuredStats %}
                                <div class="feautred-content__stat">
                                    <span>Total Clients</span>
                                    <span><span>[ </span>00<span> ]</span></span>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                {% if content.featuredVisuals|length %}
                    <div class="feautred-content__imgs">
                        {% for img in content.featuredVisuals %}
                            {% set imgSrc = img.url %}
                            <div class="feautred-content__img"><img src="{{ imgSrc }}"></div>
                        {% endfor %}
                    </div>
                {% endif %}
            </section>
        {% endfor %}
    {% endif %}


{% endblock %}