<section class="featured-content">
    <div class="featured-content__copy">
        {% if content.featuredTitle|length %}
            {% for row in content.featuredTitle %}
                <h3>{{ row.topLine }} <strong>{{ row.bottomLine }}</strong></h3>
            {% endfor %}
        {% endif %}
        {% if content.featuredStats|length %}
            <div class="featured-content__stats">
                {% for stat in content.featuredStats %}
                    <div class="featured-content__stat">
                        {% if stat.statTitle|length %}<span>{{ stat.statTitle }}</span>{% endif %}
                        {% if stat.statResults|length %}<span><span>[ </span>{{ stat.statResults }}<span> ]</span></span>{% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    {% if content.featuredVisuals|length %}
        <div class="featured-content__imgs">
            {% for img in content.featuredVisuals %}
                {% set imgSrc = img.url('featuredVisual') %}
                {% set imgLink = img.linkUrl.getUrl() %}

                {% if imgLink|length %}
                    <a href="{{ imgLink }}" target="_blank" class="featured-content__img"><img src="{{ imgSrc }}" {% if img.altTag|length %}alt="{{ img.altTag }}"{% endif %}></a>
                {% else %}
                    <div class="featured-content__img"><img src="{{ imgSrc }}" {% if img.altTag|length %}alt="{{ img.altTag }}"{% endif %}></div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</section>