{% if entry.video|length %}
	{% set video = entry.video.one() %}
	<div class="featured-video"> 
		<div class="featured-video__video">
	        <div class="video-container">
	            <iframe src="https://player.vimeo.com/video/{{ video.vimeoId }}" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe> 
	        </div>
        </div>
        <div class="featured-video__content">
        	<h2 class="video-title">{{ video.title }}</h2>
        	{% if video.client|length %}<h3 class="video-client">{{ video.client }}</h3>{% endif %}
        	{% if video.summary|length %}<p class="video-summary">{{ video.summary }}</p>{% endif %}
        </div>
    </div>
{% endif %}