{% set featuredId = '' %}
{% if entry.video|length %}
    {% set featuredId = entry.video.one().id %}
{% endif %}

<section class="video-feed">
	{% for video in videos %}
        {% if video.id != featuredId %}
            {% if video.type == 'simpleVideo' %}
        	   <a data-fancybox="gallery" data-src="#video-{{ video.id }}" href="javascript:;" class="video-feed__item">
            {% elseif video.type == 'video' %}
                <a href="{{ video.url }}" class="video-feed__item">
            {% endif %}
                {% if video.videoThumb|length %}
                    {% for img in video.videoThumb.all() %}
                        {% set imgSrc = img.url('videoThumb') %}
                            <div class="video-thumb">
                                <img src="{{ imgSrc }}" {% if img.altTag|length %}alt="{{ img.altTag }}"{% endif %}>
                            </div>
                    {% endfor %}
                {% endif %}
    	        <h2 class="video-title">{{ video.title }}</h2>
            	{% if video.client|length %}<h3 class="video-client">{{ video.client }}</h3>{% endif %}
            	{% if video.summary|length %}<p class="video-summary">{{ video.summary }}</p>{% endif %}
        	</a>
        {% endif %}
	{% endfor %}
    <div class="video-feed__item empty"></div>
    <div class="video-feed__item empty"></div>
</section>

{% for video in videos %}
    {# {% if video.type == 'simpleVideo' and video.id != featuredId %} #}
    {% if video.type == 'simpleVideo' %}
        {% include 'partials/video-popover' with { 'video' : video, 'videoList' : videoList } %}
    {% endif %}
{% endfor %}