{% if entry.videos|length %}
    <section class="video-feed">
    	{% for video in entry.videos.all() %}
        	<a data-fancybox data-src="#video-{{ video.id }}" class="video-feed__item" href="javascript:;">
                {% if video.videoThumb|length %}
                    {% for img in video.videoThumb.all() %}
                        {% set imgSrc = img.url('videoThumb') %}
                            <div class="video-thumb">
                                <img src="{{ imgSrc }}">
                            </div>
                    {% endfor %}
                {% endif %}
    	        <h2 class="video-title">{{ video.title }}</h2>
            	{% if video.client|length %}<h3 class="video-client">{{ video.client }}</h3>{% endif %}
            	{% if video.summary|length %}<p class="video-summary">{{ video.summary }}</p>{% endif %}
        	</a>

            <div style="display: none;" id="video-{{ video.id }}">
                <h1>{{ video.title }} testing 1 2 3</h1>
            </div>
    	{% endfor %}
    </section>
{% endif %}