.title-element {
	font-family: $title-font;
	// line-height: 1.1;
	color: #fff;
}

.title-xlarge {
	font-size: 9rem;
	font-weight: 700;
	@extend .title-element;
}

.title-large {
	font-size: 6.5rem;
	font-weight: 700;
	@extend .title-element;
}

.title-medium {
	font-size: 5.5rem;
	font-weight: 300;
	@extend .title-element;
}

.title-small {
	font-size: 3rem;
	@extend .title-element;
}

p {
	font-size: 2rem;
	line-height: 1.3;
	font-weight: 300;
	color: #fff;
	margin-bottom: 1.5rem;

	&:last-child {
		margin-bottom: 0;
	}
}

a {
	color: $yellow;
	position: relative;
	display: inline-block;
	text-decoration: none;
	line-height: 1;
	transition: 0.35s ease all;
	white-space: nowrap;

	&::before, &::after {
		content: '';
		display: block;
		height: 0.25em;
		position: absolute;
		bottom: -0.2em;
		left: 50%;
		transform: translateX(-50%);
		transition: 0.35s ease all;
	}

	&::before {
		background: $yellow;
		width: 100%;
	}

	&::after {
		background: $red;
		width: 0%;
	}

	&:hover {

		color: #fff;

		&::after {
			width: 100%;
		}
	}
}