// Fonts
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&display=swap');

$title-font: 'Barlow Condensed', sans-serif;
$body-font: 'Ubuntu', sans-serif;

// Bezier
$smooth-bezier: cubic-bezier(.694,.048,.335,1);
$fast-bezier: cubic-bezier(.64,.39,.03,1.24);

// colours
$blue: #223b74;
$red: #dc3137;
$yellow: #ffe41e;
$darkblue: #3d2a3d;

// repsonvie sizes
$phone-width: 320px;
$phone-large-width: 550px;
$tablet-small-width: 675px;
$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-small-width: 1200px;
$desktop-medium-width: 1400px;
$desktop-large-width: 1600px;
$desktop-xlarge-width: 1800px;
