{% block content %}
	
	<section class="page-header">
		<h1>{% if entry.onPageTitle|length %}{{ entry.onPageTitle }}{% else %}{{ entry.title }}{% endif %}</h1>
		<p>{% if entry.pageHeaderCopy|length %}{{ entry.pageHeaderCopy }}{% endif %}</p>
	</section>

    {% include 'partials/featured-video' %}
    

    {% if entry.hasDescendants() %}

    	{# Set parameters for prev/next elements list #}
		{% set videoList = craft.entries.section('videos').type('simpleVideo').descendantOf(entry.id) %}
 
    	{% set videos = craft.entries().descendantOf(entry.id).all() %}
    	{% include 'partials/video-feed' with { 'videos' : videos, 'videoList' : videoList } %}
    {% endif %}

{% endblock %}