{% block content %}
	
	<section class="page-header">
		<h1>{% if entry.onPageTitle|length %}{{ entry.onPageTitle }}{% else %}{{ entry.title }}{% endif %}</h1>
		<p>{% if entry.pageHeaderCopy|length %}{{ entry.pageHeaderCopy }}{% endif %}</p>
	</section>

    {% include 'partials/featured-video' %}
    

    {% if entry.hasDescendants() %}
    	{% set videos = craft.entries().descendantOf(entry.id).all() %}
    	{% include 'partials/video-feed' with { 'videos' : videos } %}
    {% endif %}

{% endblock %}